@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Karla', sans-serif;
    color: #b5a691;
    background-image: url("/assets/images/tb-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: absolute;
}

ul,
nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 30px 0;
    z-index: 1;
}

header nav {
    display: flex;
    color: #b5a691;
}

.main-menu {
    display: flex;
}

header nav li {
    margin: 0 15px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}

.mobile-menu {
    display: none;
}
  
.mobile-menu > div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px;
    transition: all 0.5s ease;
}
  
.mobile-active .line1 {
    transform: rotate(-45deg) translate(-4px, 16px);
}
  
.mobile-active .line2 {
    opacity: 0;
}
  
.mobile-active .line3 {
    transform: rotate(45deg) translate(4px, -9px);
}
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(180deg);
    }
}

h2,
h3 {
    margin: 20px 0 30px 0;
}

.sect-title {
    font-size: 32px;
}

/* Banner */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px;
}

.banner-desc {
    max-width: 65vh;
    margin-bottom: 15px;
    text-align: center;
    color: #b5a691;
}

.banner {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}

.banner h1 {
    font-size: 60px;
}

.desc {
    margin: 40px 20px 40px 20px;
    padding: 0;
    width: 100%;
    color: #b5a691;
}

.banner-btn {
    padding: 15px 35px;
    background-color: #b5a691;
    color: #2d271d;
    border-radius: 50px;
    transition: all 0.2s ease;
    border: thin solid rgba(64,59,52,0);
    text-transform: uppercase;
}

.banner-btn:hover {
    background-color: transparent;
    border-color: #cbb79c;
    color: #cbb79c;
    border: thin solid #403b34;
    opacity: 1;
}

.banner-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

/* Album */
.albums {
    text-align: center;
}

.album-title {
    margin-top: 20px;
}

.album-card {
    display: inline-table;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.album-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    font-weight: bold;
    cursor: pointer;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

/* Profile */
.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80vh;
    align-items: center;
}

.profile-img {
    max-width: 300px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.profile-desc {
    text-align: justify;
    margin-left: 20px;
}

/* Footer */
footer {
    display: flex;
    background-image: url("/assets/images/footer-background.jpg");
    background-repeat: repeat;
    min-height: 20vh;
    flex-direction: column;
    justify-content: center;
}
  
.details {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    line-height: 2;
}
  
.contact {
    font-size: 2rem;
}
  
.email a {
    color: #b5a691;
    transition: all 0.2s ease;
}
  
.email a:hover {
    opacity: 0.5;
}
  
.copyright {
    align-self: center;
    opacity: 0.8;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
}

.modal.open {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-card {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    padding: 20px;
    max-width: 40%;
    max-height: 60%;
    margin: 0 auto;
    overflow: auto;
}

.modal-title {
    font-weight: bold;
    padding: 15px 0 15px 0;
}

.modal-desc {
    text-align: justify;
}

.img-popup {
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    max-height: 300px;
    max-width: 300px;
    object-fit: cover;
    object-position: center;
}

.album-title {
    display: block;
}

.desc {
    display: none;
}

@media screen and (max-width:1000px) {
    header h2 {
        margin-bottom: 15px;
    }

    header nav li {
        margin: 0;
    }

    section {
        padding: 100px 50px;
    }

    .modal-card {
        max-width: 90%;
        max-height: 80%;
    }

    .main-menu {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100%;
        height: 50vh;
        flex-direction: column;
        background: rgba(181, 166, 145);
        color: #2d271d;
        font-size: 18px;
        justify-content: space-around;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.5s ease;
        border-radius: 50px 0px 0px 50px;
        z-index: -10;
    }

    .main-active {
        border-radius: 0px;
        transform: translate(0%);
    }
    
     .mobile-menu {
        display: block;
    }

    .profile {
        flex-direction: column;
    }

    .profile-img {
        max-width: 200px;
    }

    .profile-desc {
        margin: 15px 35px;
    }

    footer {
        align-items: flex-start;
        min-height: 25vh;
        justify-content: space-around;
      }
    
    .details {
        margin-left: 2rem;
    }
    
    .contact {
        font-size: 1.8rem;
        margin-bottom: 0rem;
    }

    .email {
        font-size: 1rem;
    }
    
    .copyright {
        font-size: 1rem;
    }
    
}

@media screen and (max-width:536px) {
    .banner h1{
        font-size: 30px;
    }
}

@media screen and (max-width:320px) {
    .profile-desc {
        margin: 15px 0;
    }

    .email {
        font-size: 0.9rem;
    }
    
    .copyright {
        font-size: 0.8rem;
    }
}